.device-container {
    background-color: rgb(187, 187, 187);
    margin: 30px;
    padding-top: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.device-container:focus-within {
    transform: scale(1.2);
}

.device-button {
    border: none;
}

.on {
    background-color: rgb(97, 141, 105);
}

.off {
    background-color: rgb(145, 76, 87);
}